/***************************************************************/
/* Apartir de aca nuestros formatos*/
a{
  text-decoration:none;
  color:#0D6BB2;
}
.navbar{
  display:flex;
  justify-content:space-around;
  align-items: center;
}
.barra-links{
  display:flex;
}
li{
  padding: 10px;
  list-style-type:none;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}
a{
  color: black;
}
a:visited{
  color:grey;
}
img{
  max-width: 100wh;
  max-height: 50vh;
}
.logo-dalw{
  max-width: 100%;
}
.novedades,
.total{
  display: flex;
}
article,
aside{
  display:flex;
  flex-direction: column;
  margin-left: 10px;
}
.total{
  width:100%;

}
.novedades{
  width: 75%;
}
.izq,
.centro{
width: 50%;
}
aside{
  max-width: 25%;
}
h2{
  text-align: left;
}
p{
  text-align: center;
}
.logo-sector{
  max-width:25%;
  max-height: 25%;
}
.container-fecha{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.container-fecha-fecha{
    display:block;
    color: black;
    flex-shrink: 0;/*hace que el texto quede en un solo renglon*/
    font-size: 16px;
    font-style: italic;
    max-height: 20px;
    padding: 0 10px;
    text-align: center;
    box-sizing: border-box;
}
.cointainer-fecha-linea{
  border-bottom: 2px solid black;
  width: 100%;
}
.titulo-noticia{
  text-align:center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.informacion-novedad{
  font-size:18px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.fecha{
  text-align:right;
  font-size: 25px;
}
.novedades-aside{
  font-size:18px;
  text-align: justify;
}
.tabla-cumpleanios{
  border-collapse:collapse;
  width:50%;
  border:1px solid gray;
  text-align: center;
}

th{
  background-color: papayawhip;
}
.cumple-tabla{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:5px;
  margin-bottom: 5px;
}
.foot{
  text-align:center;
  font-size: 13px;
}
/*******************************/
.container-login{
  max-width: 100%;
  margin-top: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;

}
.box {
  margin-top: 5px;
  max-width: 100%;
  margin:3px;
}

.align-items-center {
  align-items: center!important;
}
.justify-content-center {
  justify-content: center!important;
}

.text-white {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 500;
  color: black!important;
}
.cuerpo-contactos{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.contacto-utiles{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
}
.cuerpo-tabla{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center!important;
}
.telefonos{
  border-top: solid 2px #2FAAE1;
  padding-right: 15px;
  padding-left: 15px;
}
h5{
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color:#767676;
  margin-top: 5px;
}
.numero{
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color:#333;
}
.cuerpo-tabla-dos{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-contacto{
  text-align: center;
  font-weight: 600;
}
.telefonos-dos{
  border-top: solid 2px #2FAAE1;
  margin-top: 15px;
}
.comedor{
  text-align: center;
  margin-left:20%;
}
/**********LOGIN*********/

.login-form{
  width:350px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:40px 30px;
  background:rgb(167, 165, 165);
  border-radius:14px;
  margin:auto;
  top:50%;
  margin-top: 10%;
}
.centro-login{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-group{
  align-content: center;
  margin-bottom:15px;
  width:80%;
}
.form-control{
  width:100%;
  height:30px;
  border:none;
  border-radius:5px;
  padding:5px 7px 5px 15px;
  background:#fff;
  color:#666;
  border:2px solid #ddd;
}
.form-group .fa{
  position: absolute;
  right:15px;
  top:17px;
  color:#999;
}
.log-btn{
  background:#0AC986;
  display:inline-block;
  align-content: center;
  width:50%;
  font-size:16px;
  height:50px;
  color:#fff;
  text-decoration:none;
  border:none;
  border-radius:4px;
}
.img-dalw{
    margin-bottom: 20px;
}
.deslogeo-salir{
  position: absolute;
  right: 0px;
  padding: 10px;
}


